<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Productos</title>
</head>
<body>
    <h1>Inventario de Productos</h1>
    <div style="overflow-x:auto;">
        <table id="tabla-productos">
        </table>
    </div>
    <h2>Agregar Nuevo Producto</h2>
    <form id="formulario-agregar" method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="tipo">Tipo:</label><br>
        <input type="text" id="tipo" name="tipo" required><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" required></textarea><br>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" step="0.01" required><br>
        <label for="cantidad_stock">Cantidad en Stock:</label><br>
        <input type="number" id="cantidad_stock" name="cantidad_stock" required><br><br>
        <input type="submit" value="Agregar Producto">
    </form>

    <script>
        function cargarTablaProductos() {
            fetch('/agregar_producto', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    const tablaProductos = document.getElementById('tabla-productos');
                    tablaProductos.innerHTML = '';

                    data.productos.forEach(producto => {
                        const fila = document.createElement('tr');
                        fila.innerHTML = `
                            <td>${producto.id}</td>
                            <td>${producto.nombre}</td>
                            <td>${producto.tipo}</td>
                            <td>${producto.descripcion}</td>
                            <td>${producto.precio}</td>
                            <td>${producto.cantidad_stock}</td>
                        `;
                        tablaProductos.appendChild(fila);
                    });
                })
                .catch(error => console.error('Error al cargar la tabla de productos:', error));
        }

        document.getElementById('formulario-agregar').addEventListener('submit', event => {
            event.preventDefault();

            fetch('/agregar_producto', {
                method: 'POST',
                body: new FormData(event.target)
            })
            .then(response => response.json())
            .then(data => {
                cargarTablaProductos();
            })
            .catch(error => console.error('Error al agregar el producto:', error));
        });

        cargarTablaProductos();
    </script>
</body>
</html>
