<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form onsubmit="encryptPassword()">
        <h3>Inicia sesión</h3>

        <label for="usuario">Usuario</label>
        <input type="text" placeholder="Email or Phone" id="usuario" required>

        <label for="contraseña">Contraseña</label>
        <input type="password" placeholder="Contraseña" id="contraseña" required>

        <button type="submit">Iniciar sesión</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>

    <script>
        async function encryptPassword() {
            var password = document.getElementById("contraseña").value;
            
            // Convertir la contraseña a un ArrayBuffer
            var passwordBuffer = new TextEncoder().encode(password);

            // Crear un hash SHA-256 de la contraseña
            var hashBuffer = await crypto.subtle.digest('SHA-256', passwordBuffer);

            // Convertir el hash a una cadena hexadecimal
            var hashArray = Array.from(new Uint8Array(hashBuffer));
            var hashHex = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

            // Reemplazar el valor del campo de contraseña con el hash
            document.getElementById("contraseña").value = hashHex;
        }
    </script>
</body>
</html>
